*{
    padding: 0;
    margin: 0;
    
    font-family: 'Roboto';
}
body{
    position: relative;
    padding-left: 250px;
    min-height: 100vh;
    background-color: #F2F2F2;
}
button:focus{
    outline: none;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/* Estilo barra de navegação principal */
.barra-navegacao-container{
    height: 100vh;
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    background-color: #5901B0;
    color: white;
}
.header-barra-navegacao{
    text-align: center;
    padding: 25px;
}
.header-barra-navegacao img{
    width: 80px;
    border-radius: 50%;
    margin-top: 10px;
}
.header-barra-navegacao p{
    margin-top: 25px;
    font-weight: 400;
}
.body-barra-navegacao{
    flex-grow: 1;
    margin-top: 50px;
}
.body-barra-navegacao ul{

}
.body-barra-navegacao li{
    padding: 0 20px;
}
.body-barra-navegacao ul li a{
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #d2d2d2;
    padding: 5px 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.body-barra-navegacao ul li a img:nth-child(1){
    width: 20px;
    height: 20px;
}
.body-barra-navegacao ul li a span{
    display: block;
    flex-grow: 1;
    height: 30px;
    line-height: 33px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 400;
}
.body-barra-navegacao ul li a img:nth-child(3){
    width: 18px;
    height: 18px;
    margin-top: 2px;
}
.footer-barra-navegacao{
    text-align: center;
    padding: 25px;
}


/* Estilos menu superior */
.menu-superior{
    background-color: white;
    padding: 15px 20px;
    box-shadow: 0px 4px 4px 0 #CBCBCB;
}

/* Estilos quadro de exibição */
.quadro-exibicao{
    padding: 20px;
}

