/* Container do cabeçalho sessão */
#header-secao{
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #C9C6C6;
    border-radius: 5px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}
#header-secao h4{
    color: #656565;
    display: inline;
    margin: 0;
    font-size: 24pt;
    font-weight: 300;
}
#header-secao img{
    height: 20px;
    width: 30px;
    margin-right:5px;
}
#header-secao button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5901B0;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}
#header-secao button:hover{
    background-color: #5901b0e2;
}

/* Corpo sessão */
.body-secao{
    box-shadow: 0px 2px 3px 0 #DDDDDD;
    background-color: #FFFFFF;
    border: 1px solid #CECECE;
    box-sizing: border-box;
    margin-top: 20px;
    width: 100%;
    border-radius: 5px;
    padding: 30px;
}

/* Area de filtros chamados */
#filtro-chamados #titulo-filtro-chamados{
    display: flex;
    border-bottom: 1px solid #C0C0C0;
    padding-bottom: 13px;
    align-items: center;
    margin-bottom: 30px;
}
#filtro-chamados #titulo-filtro-chamados span{
    font-size: 20px;
    color: #565656;
    margin-left: 10px;
    font-weight: 500;
}
#filtro-chamados form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#filtro-chamados .form-grupo{
    display: flex;
    flex-direction: column;
    width: 23%;
}
#filtro-chamados .form-grupo label{
    margin-bottom: 10px;
    color: #808080;
}
#filtro-chamados .form-grupo input,select{
    background-color: #ECECEC;
    border-radius: 5px;
    border: 1px solid #C0C0C0;
    height: 30px;
    padding: 0 10px;
    margin-bottom: 25px;
    font-weight: 300;
}
#filtro-chamados .form-grupo input[type=text]{
    /* min-width: 250px; */
}
#filtro-chamados .form-grupo select{
    /* min-width: 250px; */
}
#filtro-chamados .grupo-botoes{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 23%;
}
#filtro-chamados .grupo-botoes button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px;
    width: 140px;
    height: 36px;
    border-radius: 5px;
    box-shadow: 0 2px 3px 0 #959595;
    cursor: pointer;
}
#filtro-chamados .grupo-botoes img{
    width: 15px;
    margin-right: 10px;
}
#filtro-chamados .grupo-botoes span{
    color: white;
    font-size: 14px;
    font-weight: 500;
}
#filtro-chamados .grupo-botoes button:nth-child(1){
    background-color: #00CD46;
    margin-right: 15px;
}
#filtro-chamados .grupo-botoes button:nth-child(2){
    background-color: #B7B7B7;
}
#filtro-chamados .grupo-botoes button:nth-child(1):hover{
    background-color: #00cd44cb;
}
#filtro-chamados .grupo-botoes button:nth-child(2):hover{
    background-color: #b7b7b7d2;
}